name: Deploy PWA

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print Success
        run: echo "GitHub Actions is running successfully!"
    
      - name: succed
        run: ./gradlew assembleRelease
